@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    line-height: 100%;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'iranyekanRegular';
}

@font-face {
    font-family: 'iranyekanRegular';
    src: url('./assets/fonts/iranyekanwebregular.woff');
}
@font-face {
    font-family: 'iranyekanBold';
    src: url('./assets/fonts/iranyekanwebbold.woff');
}

.main_container {
    @apply flex flex-col 
}

.header {
    @apply bg-[#183661] w-full h-16 px-4 flex items-center relative justify-between
}
.title {
    @apply text-[#DAE1E7] text-sm tab:text-2xl
}
.loginButton {
    @apply  w-fit text-center items-center text-sm text-[#DAE1E7]
     border-[#DAE1E7] border-2 rounded-xl px-3 py-2
}

.menu_holder {
    @apply w-10 py-3
}
.menu {
    @apply w-full h-full cursor-pointer
}

.logo_holder {
    @apply w-[56px] 
}
.logo {
    @apply w-full h-full 
}

.map_container {
    @apply px-4 py-3 bg-[#DAE1E7] flex justify-center tab:py-7
}
.map_holder {
    @apply w-full relative tab:max-w-[744px]
}
.map {
    @apply w-full h-full
}
.markers_container {
    direction: ltr;
    @apply w-full h-full absolute left-0 top-0 
}
.marker_holder {
    @apply  absolute flex flex-row items-center
}
.marker_title {
    @apply text-[#DD6B4D] text-sm pr-2
}
.sideMenu {
    transition: right .5s ease-in-out;
    @apply w-screen h-screen bg-[#183661] absolute right-[-100vw] px-4 top-0 z-10
    tab:max-w-[240px]
}
.open_sideMenu {
    @apply right-0 
}

.items {
    @apply border-t-2 border-[#DAE1E7] flex flex-col w-full
}
.item_holder {
    @apply flex items-center
}
.item_text {
    @apply text-base text-[#DAE1E7] pr-3 cursor-pointer
}

.login_page {
    @apply w-full h-screen flex justify-center pt-16 bg-[#DAE1E7]
}
.login {
    @apply flex flex-col items-center border-[#183661] border-2 px-4 py-4 bg-white
    rounded-2xl h-fit
}
.returnButton_holder {
    @apply flex items-center flex-row-reverse justify-start w-full pb-4
}
.returnButton {
    @apply w-6 h-6 mr-2
}
.returnButton_icon {
    @apply w-full h-full
}

.form_choise {
    @apply flex justify-evenly w-full pb-4 h-fit
}
.choise {
    @apply cursor-pointer
}
.login_form {
    @apply flex flex-col
}

.login_items {
    @apply flex flex-col py-3

}
.item_lable {
    @apply pb-2 text-[#183661]
}
.item_input {
    @apply border-2 border-[#DD6B4D] p-2 rounded-lg outline-none
     placeholder:text-[#DD6B4D]
}

.submitButton {
    @apply w-full bg-[#183661] mt-2 text-[#DD6B4D] h-fit py-2 rounded-lg text-lg
}
.validation_message {
    @apply text-sm text-[#183661]
}
.exeptionMessage {
    @apply w-full text-center text-[#DD6B4D] text-base pt-3
}
.projectImage {
    background-image: url('./assets/images/project.jpg');
    background-size: contain;
    @apply w-full 
}

