@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    line-height: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'iranyekanRegular';
}

@font-face {
    font-family: 'iranyekanRegular';
    src: url('./assets/fonts/iranyekanwebregular.woff');
}
@font-face {
    font-family: 'iranyekanBold';
    src: url('./assets/fonts/iranyekanwebbold.woff');
}

.container {
    @apply flex flex-col
}

.header {
    @apply bg-[#183661] w-full h-16 px-4 flex items-center relative
}

.loginButton {
    @apply  w-fit text-center items-center text-sm text-[#DAE1E7]
     border-[#DAE1E7] border-2 rounded-xl px-3 py-2
}

.menu_holder {
    @apply w-10 py-3
}
.menu {
    @apply w-full h-full
}

.map_container {
    @apply px-4 py-3 bg-[#DAE1E7]
}
.map_holder {
    @apply w-full
}
.map {
    @apply w-full h-full
}

.sideMenu {
    transition: right .5s ease-in-out;
    @apply w-screen h-screen bg-[#183661] absolute right-[-100vw] px-4 top-0
}
.open_sideMenu {
    @apply right-0 
}

.items {
    @apply border-t-2 border-[#DAE1E7] flex flex-col w-full
}
.item_holder {
    @apply flex items-center
}
.item_text {
    @apply text-base text-[#DAE1E7] pr-3
}

.login_page {
    @apply w-full flex justify-center pt-16
}
.login {
    @apply flex flex-col items-center border-[#183661] border-2 px-4 py-6
    rounded-2xl
}
.form_choise {
    @apply flex justify-evenly w-full pb-8
}
.login_form {
    @apply flex flex-col
}

.login_items {
    @apply flex flex-col py-3

}
.item_lable {
    @apply pb-4 text-[#183661]
}
.item_input {
    @apply border-2 border-[#DD6B4D] p-2 rounded-lg outline-none
     placeholder:text-[#DD6B4D]
}

.submitButton {
    @apply w-full bg-[#183661] mt-2 text-[#DD6B4D] h-fit py-2 rounded-lg text-lg
}