@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    line-height: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: 'iranyekanRegular';
}

@font-face {
    font-family: 'iranyekanRegular';
    src: url('./assets/fonts/iranyekanwebregular.woff');
}
@font-face {
    font-family: 'iranyekanBold';
    src: url('./assets/fonts/iranyekanwebbold.woff');
}

.container {
    @apply flex flex-col
}

.header {
    @apply bg-[#183661] w-full h-16 px-4 flex items-center
}

.loginButton {
    @apply  w-fit text-center items-center text-sm text-[#DD6B4D]
     border-[#DD6B4D] border-2 rounded-xl px-3 py-2
}